body{
	background-color: #9DBCEB;
}

#header{
	background-color: #FFF00F;
	height: 50px;
	width: 100%;
}

#content{
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	width: 90%;
	overflow: auto;
}

#title{
	background-color: #FF9966;
	float: left;
	margin: 10px;
}
