
html, body {height: 100%;}

body{
	background-color: #9DBCEB;
}

#wrap {min-height: 100%;}

#main{
	overflow: auto;
	padding-bottom: 150px; /* must be same height as footer */
}

#footer {
	background-color: #DBC0CF;
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear: both;
}

#header{
	background-color: #FFF00F;
	height: 50px;
	width: 100%;
}

#content{
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	width: 90%;
	overflow: auto;
}

#title{
	background-color: #FF9966;
	float: left;
	margin: 10px;
}
