:root{
	font-family: calibri;
}

html, body {height: 100%;}

body{
	background-color: #9DBCEB;
}

#debug {
	background-color: #000000;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 100px;
	color: #FFFFFF;
	padding: 10px;
}

#wrap {min-height: 100%;}

#main{
	overflow: auto;
	padding-bottom: 50px; /* must be same height as footer */
}

#header{
	background-color: #FFF00F;
	height: 50px;
	width: 100%;
}

#content{
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 90%;
	min-height: 300px;
	overflow: auto;
}

#game-area{
	background-color: #66FF99;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 500px;
	width: 600px;
	text-align: center;
	overflow: auto;
}

#title{
	background-color: #FF9966;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14pt;
}

#counter {
	background-color: #FF9966;
	margin-bottom: 10px;
}

#flashcard {
	background-color: #ADADAD;
	margin-left: auto;
	margin-right:auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	height: 250px;
	width: 500px;
	vertical-align: middle;
}

#flashcard p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14pt;
}

#footer {
	background-color: #DBC0CF;
	position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear: both;
	vertical-align: middle;
	text-align: center;
}

#author-msg {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
